<div id="shorten-page-container" class="container">
  <div class="center-block" style="width: 600px;">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Your URL">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>