<p id="notice-box" class="alert alert-success"
<% unless notice %>style="display: none;"
<% end %>><%= notice %></p>

<p id="alert-box" class="alert alert-danger"
<% unless alert %>style="display: none;"
<% end %>>
                <%= alert %>
</p>